.headline {
  margin: auto;
  position: relative;
  width: 1800px;
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  &__delta-icon {
    max-width: 200px;
    max-height: 180px;
    position: absolute;
    top: 30px;
    left: 80px;
    filter: contrast(2.5);
  }

  &__lodge-icon {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    top: 30px;
    right: 100px;
    filter: brightness(0.9);
    filter: contrast(3);
  }

  &-content {
    margin: 0;
    font-size: 2.4em;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin: 1em 0 0 0;
    }

    &__name {
      margin: 1em 0 0 0;
    }

    &__description {
      margin: 3.5em auto 0;
      max-width: 1000px;
      font-size: 0.6em;
      line-height: 1.5em;
      background-color: rgba(2, 15, 56, 0.6);
    }
  }
}

.buttons {
  margin-top: 30px;
  max-width: 580px;
  max-height: 50px;
  display: flex;

  &-about {
    margin-right: 80px;
  }
}

button {
  width: 250px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: rgb(4, 4, 153);
}

button:hover {
  cursor: pointer;
  background-color: rgb(6, 6, 240);
}

.fa-chevron-down {
  animation: jump 2s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
