@import 'headline.scss';
@import 'chevron.scss';
@import 'about.scss';
@import 'information.scss';
@import 'form.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
